# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Generated output and object files
*.o
*.obj
*.out

# bin directory
bin/

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
